@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #76AB37;
    --foreground: #046419;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.coren,.senha{
  color: #ffffff;
  background: #046419;
}
.entrar{
  background-color: #046419;
  color: white;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}