@tailwind base;
@tailwind components;
@tailwind utilities;





body {
 background: #76AB37 ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.coren,.senha{
  color: #ffffff;
  background: #046419;
}
.entrar, .setor{
  background-color: #046419;
  color: white;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.setor1 h1{
color: #fff;
}

/* menu */


.menu {
  display: flex;
margin-left: 1500px;
margin-top: 300px;

}

.app {
  display: flex;
  justify-content: center;
  align-items: center;

}

.menu-button {
  font-size: 2rem;
  background: #226A32;
  color: #76AB37;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu-button:hover {
  background-color: #457466;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #226A32;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  position: relative;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.modal-list li {
  margin: 10px 0;
  font-size: 1.2rem;
  cursor: pointer;
}
.modal-list li{
  color: #fff;
}

.sair{  
  color: #fff;
  background: #046419;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Vibraçao */
.vibrate {
  animation: vibrate 0.2s linear infinite;
}

@keyframes vibrate {
  0% { transform: translate(0); }
  20% { transform: translate(-5px, 5px); }
  40% { transform: translate(-2px, -2px); }
  60% { transform: translate(2px, 2px); }
  80% { transform: translate(2px, -2px); }
  100% { transform: translate(0); }
}
